@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cinzel:wght@400;600;700&family=Gowun+Batang&display=swap');

/*
font-family: 'Anton', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Gowun Batang', serif;
font-family: "Open Sans", sans-serif;
*/


/*ESTILOS GENERALES*/
body {
	font-family: "Open Sans", sans-serif;
}

h1,h2,h3{
	font-family: 'Cinzel', serif;
}


/*estilos del nav*/
.nav1 {
	background-color: #fcf4f1 !important; 
	font-size: 1.1em;
}

.bg-element-nav {
	background-color: #B8A199 !important;
	box-shadow: -2px -2px 3px 1px #917F79 !important;
	border: none !important;
	
}

.navbar img {
	margin-right: 2%;
	width: 150px;
}

/*SERVICIO*/
.general-servicio {
    background: linear-gradient(rgba(255 255 255 / 0.5), rgba(255 255 255 / 0.5)), url(../fotos/foto1.jpg) no-repeat center center scroll;
    background-size: cover;
    height: 50vh !important;
    backdrop-filter: blur(10px);
}

.texto{
/*    filter: blur(0px);*/
}


/*Estilos pie de pagina*/
footer{
	background-color: #fcf4f1 !important;
}

footer ul a{
	text-decoration: none;
	color: white; /*Color texto blanco*/
/*	font-size: 1.2em;*/
	 position:relative;
    display:block; /*Que ocupe todo lo ancho*/
    width:45px;
    height:45px;
    background:#B8A199;
    text-align:center;
    box-shadow:0 0 0 3px #B8A199;
    overflow:hidden;
    border-radius:50%;
}
footer i{
	position:relative;
    font-size:25px;
    width:100%;
    height:100%;
    line-height:60px; /*Per centrar la icona verticalment*/
    transition:0.3s; /*Transició per als propers canvis*/
}
footer i:hover{
	transform:translateY(-100%); /*Desplaza iciono hacia arriba*/
    color:#B8A199; /*Cambia el color del icono a marron*/
}

footer ul a:before{
	content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:white; /*fondo del subelemento*/
    transform-origin:top; /*Origen de la transicion*/
    transform:scaleY(0); /*Invisible el elemento*/
    transition:transform 0.3s;
}

footer ul a:hover:before{
	transform:scaleY(1); /*Se muestra el elemento hecho invisible antes*/
}

footer ul a:hover i {
    color: #B8A199; /*Color del icono cuando se ha hecho el before del a*/
}